.tts-service-panel {
    min-width: 292px;
}

.ProseMirror .node-editorCard:first-child .editable-content.is-empty::before {
    content: attr(data-placeholder);
    float: left;
    color: #ced4da;
    pointer-events: none;
    height: 0;
    max-width: min(100%, 32rem);
    white-space: normal;
}

.voice-type-content {
    max-height: 20vh;
    overflow-y: auto;
}

.valcano-voice-content {
    max-height: 20vh;
    overflow-y: auto;
}

.editor-card-tts {

    .valcano-voice-content,
    .voice-type-content {
        max-height: 20vh;
    }
}

.node-editorCard:first-child .voice-item {
    margin-top: 0;
}
