.tts-service-panel {
    min-width: 292px;
}

.ProseMirror .is-empty::before {
    content: 'Start writing';
    float: left;
    color: #ced4da;
    pointer-events: none;
    height: 0;
}

.voice-type-content {
    max-height: 26vh;
    overflow-y: auto;
}

.valcano-voice-content {
    max-height: 26vh;
    overflow-y: auto;
}

.editor-card-tts {

    .valcano-voice-content,
    .voice-type-content {
        max-height: 20vh;
    }
}

.node-editorCard:first-child .voice-item {
    margin-top: 0;
}

.tts-remotion {
    min-width: 30vw;
}

.tts-remotion-history {
    min-width: 20vw;
}

.tts-remotion-player {
    &>div:last-child {
        background-image: none !important;
        padding-top: 20px !important;
    }
}