.tts-service-panel {
    min-width: 292px;
}

.ProseMirror .is-empty::before {
    content: 'Start writing';
    float: left;
    color: #ced4da;
    pointer-events: none;
    height: 0;
}

.voice-type-content {
    max-height: 20vh;
    overflow-y: auto;
}

.valcano-voice-content {
    max-height: 20vh;
    overflow-y: auto;
}

.editor-card-tts {

    .valcano-voice-content,
    .voice-type-content {
        max-height: 20vh;
    }
}

.node-editorCard:first-child .voice-item {
    margin-top: 0;
}

.tts-remotion {
    min-width: 30vw;
}

.cd-player-icon {
    width: 100vw;
    height: 100vw;
    margin: 0 auto;
}

// .tts-remotion-history {
//     min-width: 23vw;
//     max-width: 40vw;
// }

.tts-remotion-player {
    &>div:last-child {
        display: none;
    }
}