.temo-content {
    max-height: 100%;
    overflow: hidden;

    .list-scroll-area {
        height: calc(100% - 3.5rem);
    }
}

.is-playing-audio {
    border-color: blueviolet;
}

.is-selected {
    border-color: greenyellow;
}

.temo-list {
    width: 275px;
}

.editor-pic-item:hover {
    .delete-button {
        display: block;
    }
}

.editor-pic-item .delete-button {
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0;
    border-bottom-left-radius: 2px;
}