.temo-content {
    max-height: 100%;
    overflow: hidden;

    .list-scroll-area {
        height: calc(100% - 3.5rem);
    }
}

.is-playing-audio {
    border-color: blueviolet;
}

.is-selected {
    border-color: greenyellow;
}

.temo-list {
    width: 275px;
}
