.page-left-tabs {
    width: 200px;
    box-sizing: border-box;
    position: relative;
    flex-shrink: 0;
}
.App-title {
    position: absolute;
    width: 200px;
    text-align: right;
    left: 0;
    top: 0;
    z-index: 10;

}
