.tiptap {
  >*+* {
    margin-top: 0.75em;
  }
}

.editor-card-item,
.translate-card-item {
  position: relative;

  .editable-content {
    line-height: 1.2;
  }

}

.translate-card-item {
  color: gray;
  .is-none {
    height: 20px;
    overflow: hidden;
  }
}

.editor-voice {
    font-size: 10px;
}

#drop-area {
  height: calc(100vh - 3rem);
}