.tts-service-panel {
    min-width: 250px;
}

.ProseMirror .is-empty::before {
    content: 'Start writing';
    float: left;
    color: #ced4da;
    pointer-events: none;
    height: 0;
}

.voice-type-content {
    max-height: 26vh;
    overflow-y: scroll;
}

.valcano-voice-content {
    max-height: 34vh;
    overflow-y: scroll;
}

