@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light dark;
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 0 1% 30%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 233 16% 11%;

    --card: 0 0% 100%;
    --card-foreground: 0 1% 30%;

    --border: 204 22% 91%;
    --input: 214.3 31.8% 91.4%;

    --primary: 238 50% 56%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 238 50% 56%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 238 50% 56%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 204 22% 91%;

    --radius: 0.5rem;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 233 16% 11%;
      --foreground: 210 40% 98%;

      --muted: 235 14% 18%;
      --muted-foreground: 215 20.2% 65.1%;

      --popover: 233 16% 11%;
      --popover-foreground: 210 40% 98%;

      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;

      --border: 233 13% 25%;
      --input: 233 13% 25%;

      --primary: 238 50% 56%;
      --primary-foreground: 210 40% 98%;

      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;

      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 85.7% 97.3%;

      --ring: 233 13% 25%;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.memo-draggable {
  -webkit-app-region: drag;
}

.memo-no-draggable {
  -webkit-app-region: no-drag;
}

.bg-background-memo {
  border: 1px solid  var(--border);
  background: rgba($color: var(--background), $alpha: 0.98);
  backdrop-filter: blur(250px);
  -webkit-backdrop-filter: blur(250px); /* 兼容 WebKit 浏览器 */
}